.divSubscription img {
  width: 100%;
  height: 50%;
}
.divSubscription {
  position: relative;
  width: 100%;
}

.networks{
  margin-right: 15px;
  padding-top: 5%;
  padding-bottom: 5%;
  opacity: 0.8;
  transition: opacity 0.3s;
  
}

.networks:hover{
  margin-right: 15px;
  padding-top: 5%;
  padding-bottom: 5%;
  opacity: 1;
}

@media (min-width: 961px){
  /*Button*/
  #subscription {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
    border-radius: 5px;
    padding-right: 0px;
    padding-left: 0px;
    opacity: 0.8;
    max-width: 15%;
    transition: max-width 0.4s;
  }
  .divSubscription #subscription:hover {
    opacity: 1.0;
    max-width: 16%;
  }

  .divSubscription #title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: xx-large;
  }

  .divSubscription #subtitle {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: large;
  }

  .divSubscription #rules {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-color: white;
    border-radius: 5px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 1.5rem;
    vertical-align: bottom;
    height: 7.5%;
    transition: box-shadow 0.3s;
  }

  .divSubscription #rules:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .divLogoFooter #logoFooter{
    padding-top: 7%;
    padding-bottom: 5%;
    max-width: 65%;
  }
}

@media (max-width: 961px){
  .divSubscription #subscription{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    vertical-align: bottom;
    max-width: 40%;
  }

  .divSubscription #rules {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    border-color: white;
    border-radius: 5px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    padding-right: 25px;
    padding-left: 25px;

  }
  .divSubscription #title{
    display: none;
  }
  .divSubscription #subtitle{
    display: none;
  }
  .divLogoFooter #logoFooter{
    display:none;
  }
  .networks{
    display:none;
  }

}